<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Daily Drift</span> <span>Blog</span></h1>
      <p>
        Your daily dose of inspiration and insight.
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          69420 6969
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="dailyDrift@gmail.com">
            dailyDrift@gmail.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="www.youtube.com">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="www.instagram.com">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="www.x.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="www.facebook.com">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>